<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">What's On My Plate?</div>
      <div class="item item-left item-text-wrap" ng-class="">
          <p> What's On My Plate is a mobile app that gives the user nutrition information about a meal when the user snaps a picture of it.</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">How it Works?</div>
      <div class="item item-left item-text-wrap" ng-class="">
        <p>The project combines mobile device technology with Watson Visual Recognition API to recognize the ingredients on a dish and report the nutrients information of that dish.</p>
        <p>If the dish was not found the user will have the opportunity to train Watson with the new dish. At this point, the new dish will be available for the rest of the app community. This will insure continue learning of the platform.</p>
        <button type="button" class="button button-clear" ui-sref="app.testui">testimage.jpg</button>
      </div>
    </div>
  </ion-content>
</ion-view>

