<ion-view title="Home" hide-back-button="true" hide-nav-bar="true">
   <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">Welcome {{username}} to What's on my Plate
      </div>
      <img ng-src="{{pic}}" class="selPicture">
      <div class="item item-left item-text-wrap" ng-class="">
          <p>What's on my Plate is a mobile app that gives the user nutrition information about a meal when the user snaps a picture of it. You can use the app as a guest, or you can log in and record your meals.</p>
      </div>
      <div class="card">
        <ion-item href="https://itunes.apple.com/us/app/whats-on-my-plate/id1178597889?mt=8"><span style="color:blue">Link to Apple App Store</span>
      </div>
        <ion-item href="https://play.google.com/store/apps/details?id=gilad.myplate"><span style="color:blue">Link to Google Play</span>
 
  </ion-content>
</ion-view>

 
