<ion-view view-title="Dish Nutrients">
  <ion-content>
    <div class="card">         
      <img ng-src="{{pic}}" class="enlargePicture">
      <label class="item item-body item-text-wrap"><span style="color:blue">Dish :</span>{{nutrientName}}</label>
      <div class="item item-input"><span style="color:blue">Serving Size :</span>
          <select ng-init="populateLists()" ng-model="size.index" ng-options="items.indexOf(item) as item for item in items" ng-change="changedTotal()">
          </select>
      </div>
      <div class="row header">
          <div class="colx col-40">Nutrient</div>
          <div class="colx col-40">Measurement</div>
          <div class="colx col-20">Unit</div>
      </div>
      <div class="row" ng-repeat="nutrient in nutrients">
          <div class="col col-40">{{nutrient.name}}</div>
          <div class="col col-40">{{nutrient.value}}</div>
          <div class="col col-20">{{nutrient.m}}</div>
      </div>   
    </div>
    <div class="padding" ng-if="showAddDishDiary==true">
      <button type="button" class="button button-block button-positive" ng-click="gotoAddDishDiary()">Add Dish to Food Diary</button>
    </div>
  </ion-content>
</ion-view>