<ion-view view-title="Your Dish" cache-view="false">
    <ion-content class="list" ng-init="initAnalyzeImage()">
        <div class="item item-divider">
            {{instructUser1}}
        </div>    
        <ion-radio class="item-thumbnail-left item-radio-right item-text-wrap" ng-value="{{result.dix}}" ng-click='newDishSelected({{result.dix}})' ng-repeat="result in results.scores">
            <img ng-src="{{result.icon}}">
            <h2>{{result.foodId}}</h2>
            <h4>{{result.calories}}</h4>
        </ion-radio>
        <div class="card">
          <div class="padding" ng-if="isDishSelected==true">
            <button type="button" class="button button-block button-positive" ng-click="gotoDishDetails()">Yes. This is my dish</button>
          </div>
          <div class="padding" ng-if="isDishSelected==false">
            <button type="button" class="button button-block button-assertive" ng-click="gotoNewDishEntry()">I want to create my own dish</button>
          </div>
        </div>
    </ion-content>
</ion-view>
